<!DOCTYPE html>
<!-- 타임리프 레이아웃 적용 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:replace="fragments/config :: configFragment"></th:block>
    <link href="css/select.css" rel="stylesheet" />
    <link href="css/button.css" rel="stylesheet" />
    <title>Toytra Homepage</title>
</head>

<body>

<!-- 사이드바-->
<th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

<h2 class="pricingTable-title">분석결과</h2>
<ul class="pricingTable-firstTable">
    <h4 th:text="|현재 토이 id : ${currentToy.toy_id}|"></h4>
    <!-- <input type="hidden" th:id="currentToyID" th:value="${currentToy.toy_id}"/> -->

    <li class="pricingTable-firstTable_table">
        <h1 class="pricingTable-firstTable_table__header">2등</h1>
        <p id="change3" class="pricingTable-firstTable_table__pricing">상품명</p>
        <ul class="pricingTable-firstTable_table__options">
            <li id="change4">캐릭터</li>
            <li id="change5">카테고리</li>
        </ul>
        <button id ="2" value="btnRegist" class="pricingTable-firstTable_table__getstart">  선택  </button>
    </li>

    <li class="pricingTable-firstTable_table">
        <h1 class="pricingTable-firstTable_table__header">1등</h1>
        <p id="change0" class="pricingTable-firstTable_table__pricing">상품명</p>
        <ul class="pricingTable-firstTable_table__options">
            <li id="change1">캐릭터</li>
            <li id="change2">카테고리</li>
        </ul>
        <button id ="1" value="btnRegist" class="pricingTable-firstTable_table__getstart">  선택  </button>
    </li>

    <li class="pricingTable-firstTable_table">
        <h1 class="pricingTable-firstTable_table__header">3등</h1>
        <p id="change6" class="pricingTable-firstTable_table__pricing">상품명</p>
        <ul class="pricingTable-firstTable_table__options">
            <li id="change7">캐릭터</li>
            <li id="change8">카테고리</li>
        </ul>
        <button id = "3" value="btnRegist" class="pricingTable-firstTable_table__getstart">  선택  </button>
    </li>
</ul>

<button class="button button--secondary" style="float: right;">직접 찾아보기</button>

<script type="text/javascript">
    if (localStorage.getItem('data')) {
        var lastData = localStorage.getItem('data')
    }

    Data = JSON.parse(lastData); //local storage에 저장된 json 불러옴.

    var j = 0;
    for (i = 0; i < Data.length; i++) {
        // document.write("<input type='radio' name='category' value=" + i + "> " + Data[i].product_name + '</input>');
        $('#change' + [j]).text(Data[i].product_name);
        j += 1;
        $('#change' + [j]).text(Data[i].product_label.character);
        j += 1;
        $('#change' + [j]).text(Data[i].product_label.category);
        j += 1;
    }

    var select_genre;
    var select_character;
    var select_name;

    $("button[value='btnRegist']").click(function(event) {

        var id_check = $(this).attr("id");

        if(id_check == "1") {
            select_name =  $('#change' + [0]).text();
            select_genre =  $('#change' + [1]).text();
            select_character = $('#change' + [2]).text();
        } else if(id_check == "2") {
            select_name =  $('#change' + [3]).text();
            select_genre =  $('#change' + [4]).text();
            select_character =  $('#change' + [5]).text();
        } else {
            select_name =  $('#change' + [6]).text();
            select_genre =  $('#change' + [7]).text();
            select_character =  $('#change' + [8]).text();
        }
    });

</script>

<!-- Footer-->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>

</html>