<!DOCTYPE html>
<!-- 타임리프 레이아웃 적용 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:replace="fragments/config :: configFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/select.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <title>Toytra Homepage</title>
</head>

<body>
<!-- 사이드바-->
<th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

<h2 class="pricingTable-title">분석결과</h2>

<ul class="pricingTable-firstTable">
    <h4 th:text="|현재 토이 id : ${currentToy.toy_id}|"></h4>
    <h4 th:text="|현재 샵 id : ${currentShop.shop_id}|"></h4>
    <input type="hidden" th:id="genreList" th:value="${genreList}"/>
    <input type="hidden" th:id="characterList" th:value="${characterList}"/>
    <input type="hidden" th:id="currentToyId" th:value="${currentToy.toy_id}" />
    <input type="hidden" th:id="currentShopID" th:value="${currentShop.shop_id}"/>

    <li class="pricingTable-firstTable_table">
        <h1 class="pricingTable-firstTable_table__header">2등</h1>
        <p id="change3" class="pricingTable-firstTable_table__pricing">상품명</p>
        <ul class="pricingTable-firstTable_table__options">
            <li id="change4">캐릭터</li>
            <li id="change5">카테고리</li>
        </ul>
        <button id="2" value="btnSelect" class="pricingTable-firstTable_table__getstart"> 선택 </button>
    </li>

    <li class="pricingTable-firstTable_table">
        <h1 class="pricingTable-firstTable_table__header">1등</h1>
        <p id="change0" class="pricingTable-firstTable_table__pricing">상품명</p>
        <ul class="pricingTable-firstTable_table__options">
            <li id="change1">캐릭터</li>
            <li id="change2">카테고리</li>
        </ul>
        <button id="1" value="btnSelect" class="pricingTable-firstTable_table__getstart"> 선택 </button>
    </li>

    <li class="pricingTable-firstTable_table">
        <h1 class="pricingTable-firstTable_table__header">3등</h1>
        <p id="change6" class="pricingTable-firstTable_table__pricing">상품명</p>
        <ul class="pricingTable-firstTable_table__options">
            <li id="change7">캐릭터</li>
            <li id="change8">카테고리</li>
        </ul>
        <button id="3" value="btnSelect" class="pricingTable-firstTable_table__getstart"> 선택 </button>
    </li>
</ul>

<button id="btnTag" class="button button--secondary" style="float: right;">직접 찾아보기</button>

<!-- Footer-->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

<div layout:fragment="script_area">
    <script th:src="@{/js/analysis.js}"></script>
</div>

</html>

