<!DOCTYPE html>
<!-- 타임리프 레이아웃 적용 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:replace="fragments/config :: configFragment"></th:block>
    <link rel="stylesheet" th:href="@{/css/select.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <title>Toytra Homepage</title>
</head>

<body onload="init()">
<!-- 사이드바-->
<th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

<h2 class="pricingTable-title">세트 정보</h2>
<ul class="pricingTable-firstTable">
    <h4 th:text="|현재 토이 id : ${currentToy.toy_id}|"></h4>
    <input type="hidden" id="dataId" name="dataId" th:value="${currentToy}"/>
</ul>

<span class="세트 이름">???</span>
<span class="세트 번호">???</span>

<button id="btnSelect1" class="button button--secondary" style="float: right;">세트 거래 등록 승인</button>
<button id="btnSelect2" class="button button--secondary" style="float: right;">세트 거래 등록 거부</button>
<!-- Footer-->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>

</html>

<script th:inline="javascript">

    if (localStorage.getItem('data')) {
        var lastData = localStorage.getItem('data')
    }

    Data = JSON.parse(lastData); //local storage에 저장된 분석결과 json 불러옴.
    var selectNum = [[${selectNum}]];
    selectNum = selectNum-1;
    var set_data;

    function init() {
        if (!(Data[selectNum].product_label.hasOwnProperty("set"))) {
            alert("등록 완료(세트 정보 없음)")
            location.href = "/home"
        } else {
            set_data = Data[selectNum].product_label.set.split('-');
            let x = document.getElementsByClassName("세트 이름")[0];
            let y = document.getElementsByClassName("세트 번호")[0];
            x.innerText = set_data[0];
            y.innerText = set_data[1];

            var current_toyId = [[${currentToy.toy_id}]];
            var current_shopId = [[${currentShop.shop_id}]];
            var currentToy_data;
            id_check = selectNum;

            $.ajax({
                type: "GET",
                url:  "/api/toy/id?toy_id="+current_toyId,
                async    : false,
                dataType : "JSON",
                processData: false,
                contentType: "application/json",
                cache: false,
                timeout: 0,
                success: function (data) {
                    console.log(typeof(data));
                    currentToy_data = data;
                },
                error: function (e) {
                    alert("실패");
                }
            }); //현재 토이 객체의 정보 받아옴

            var currentSet_data;
            console.log(set_data);

            $.ajax({
                type: "GET",
                url:  "/api/category/category_set/set?set_name="+set_data[0]+"&set_num="+parseInt(set_data[1]),
                async    : false,
                dataType : "JSON",
                processData: false,
                contentType: "application/json",
                cache: false,
                timeout: 0,
                success: function (data) {
                    console.log(typeof(data));
                    currentSet_data = data;
                    console.log(JSON.stringify(currentSet_data));
                },
                error: function (e) {
                    alert("실패");
                }
            });

            var shopInfo = new Object();
            shopInfo.shop_id = current_shopId;

            currentToy_data.shop = shopInfo;
            currentToy_data.category_set = currentSet_data;


            $.ajax({
                type: "PUT",
                url:  "/api/toy",
                data: JSON.stringify(currentToy_data),
                async    : false,
                contentType: "application/json",
                cache: false,
                timeout: 0,
                success: function (data) {
                    console.log("success");
                },
                error: function (e) {
                    alert("fail");
                }
            });
        }
    }

    $("#btnSelect1").unbind("click").bind("click", function () {
        var current_toyId = [[${currentToy.toy_id}]];
        $.ajax({
            type: "POST",
            url:  "/api/setGoods/"+current_toyId,
            cache: false,
            timeout: 0,
            success: function (data) {
                console.log("success");
                location.href = "/home"
            },
            error: function (e) {
                alert("fail");
            }
        });
        alert("등록완료(세트 거래 등록함")
        location.href = "/home"
    });

    $("#btnSelect2").unbind("click").bind("click", function () {
        alert("등록완료(세트 거래 등록 안함")
        location.href = "/home"
    });
</script>
