<!DOCTYPE html>
<!-- 타임리프 레이아웃 적용 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <th:block th:replace="fragments/config :: configFragment"></th:block>
        <title>Toytra Homepage</title>
    </head>

    <body>

        <!-- 사이드바-->
        <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

        <h4 class = "mb-5">등록 페이지</h4>

        <h4 th:text="|현재 샵 id : ${currentShop.shop_id}|"></h4>
        <input type="hidden" th:id="currentShopID" th:value="${currentShop.shop_id}"/>

        <div class="container" style="margin-top:30px">

            <form method="post" action="" enctype="multipart/form-data" id="fileUploadForm">
                <input type="file" name="file"/>
                <input type="button" id="btnUpload" value = "업로드"/>
            </form>

        </div>

        <!-- Footer-->
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>

    </body>
</html>

<script>

    $("#btnUpload").click(function (event) {

        const form = $('#fileUploadForm')[0];

        const data = new FormData(form);

        var shop_id = document.getElementById("currentShopID").value;

        var toy_url = "http://localhost:8092/api/toy?shop_id="+shop_id;
        var upload_url = "http://localhost:8092/api/photo/upload_image/";

        var toyId;

        //토이 객체 생성 및 토이 id 받아오기
        $.ajax({
            "url": toy_url,
            "method": "POST",
            async    : false,
            dataType : "JSON",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({}),
            success: function (response) {
                console.log(response);
                toyId = response;
                alert("생성 성공");
            },
            error: function (e) {
                alert("fail");
            }
        });

        //받아온 toy id를 통해 이미지 업로드
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "http://localhost:8092/api/photo/upload_image/"+toyId.toy_id,
            data: data,
            async    : false,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 0,
            success: function (data) {
                alert("업로드 성공");
            },
            error: function (e) {
                alert("fail");
            }
        });

        //이미지 분석
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "http://13.125.216.91:8000/finder/api/image_file",
            data: data,
            async    : false,
            dataType : "JSON",
            processData: false,
            contentType: false,
            cache: false,
            timeout: 0,
            success: function (data) {
                localStorage.setItem("data", JSON.stringify(data));
                alert("분석 성공");
                location.href="/analysis";
            },
            error: function (e) {
                alert("fail");
            }
        });

    });

</script>





