<!DOCTYPE html>
<!-- 타임리프 레이아웃 적용 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <th:block th:replace="fragments/config :: configFragment"></th:block>
        <link rel="stylesheet" th:href="@{/css/upload.css}">
        <link rel="stylesheet" th:href="@{/css/button.css}">
        <title>Toytra Homepage</title>
    </head>

    <body>
        <!-- 사이드바-->
        <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

        <input type="hidden" th:id="currentShopID" th:value="${currentShop.shop_id}"/>

        <div>
            <div id="uploadArea" class="upload-area">
                <!-- Header -->
                <div class="upload-area__header">
                    <h1 class="upload-area__title">분석할 장난감의<br>대표 이미지 업로드</h1>
                    <p class="upload-area__paragraph">
                        File should be an image
                        <strong class="upload-area__tooltip">
                            Like
                            <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
                        </strong>
                    </p>
                </div>
                <!-- End Header -->

                <div class="container" style="margin-top:30px">
                    <!-- Drop Zoon -->
                    <div id="dropZoon" class="upload-area__drop-zoon drop-zoon">
                <span class="drop-zoon__icon">
                    <i class='bx bxs-file-image'></i>
                </span>
                        <p class="drop-zoon__paragraph">드래그앤 드랍 또는 클릭하여 파일을 선택해주세요</p>
                        <span id="loadingText" class="drop-zoon__loading-text">로딩중...</span>
                        <img src="" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image" draggable="false">
                        <input type="file" id="fileInput" class="drop-zoon__file-input" accept="image/*">
                    </div>
                    <!-- End Drop Zoon -->

                </div>

                <!-- File Details -->
                <div id="fileDetails" class="upload-area__file-details file-details">
                    <h3 class="file-details__title">업로드된 파일</h3>

                    <div id="uploadedFile" class="uploaded-file">
                        <div class="uploaded-file__icon-container">
                            <i class='bx bxs-file-blank uploaded-file__icon'></i>
                            <span class="uploaded-file__icon-text"></span> <!-- Data Will be Comes From Js -->
                        </div>

                        <div id="uploadedFileInfo" class="uploaded-file__info">
                            <span class="uploaded-file__name">Project 1</span>
                            <span class="uploaded-file__counter">0%</span>
                        </div>

                        <div>
                            <input class="button button--secondary" type="button" id="btnUpload" value="업로드" style="position: fixed;top: 90%;left: 75%;transform: translate(-50%, -50%);">
                        </div>
                        <div>
                            <!-- Button trigger modal -->
                            <button type="button" id="btnAdd" class="button button--secondary" style="background: #458bd1; position: fixed;top: 90%;left: 25%;transform: translate(-50%, -50%);" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                이미지 추가
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End File Details -->
            </div>
            <!-- End Upload Area -->
        </div>
        <!-- Upload Area -->
    </body>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">이미지 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="field" align="center">
                        <h3>이미지들을 선택해주세요</h3>
                        <label id="uploadLabel" for="files" style="display: inline-block;padding: 10px 20px;color: #fff;vertical-align: middle;background-color: #999999;cursor: pointer;height: 40px;margin-left: 10px;">파일 선택</label>
                        <input type="file" id="files" name="files[]" style=" position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;" multiple />
                    </div>
                    <div id="image_field"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button id="btnMultiUpload" type="button" class="btn btn-primary">업로드</button>
                </div>
            </div>
        </div>
    </div>

    <div layout:fragment="script_area">
        <script th:src="@{/js/upload.js}"></script>
    </div>
</html>

<style>
    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        padding: 1px;
    }
    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;
    }
    .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
    }
    .remove:hover {
        background: white;
        color: black;
    }
</style>




