<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <th:block th:fragment="style-area">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" th:href="@{/css/trade/patternfly-additions.css}">
            <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
            <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
            <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.js}"></script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        </th:block>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <style type="text/css">
            .category-text{
                color: black; max-height: 38px; font-size: 1.1rem; font-weight: 500; line-height: 1.2;
            }
        </style>
        <title>Toytra Homepage</title>
    </head>

    <body style="background-color: #e9ecef;">
    <!-- 사이드바-->
    <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
        <!-- Header-->
        <div class="row mb-5 mt-2" style="align-items: flex-start;">
            <div class="col text-end">
                <button type="button" class="btn btn-primary before-toyList" style="float: right;width: 60px;" hidden>이전</button>
            </div>
            <div class="col-auto">
                <h2 th:id="current_shop">내 장난감 장터</h2>
            </div>
            <div class="col text-start" style="float: right;width: 60px;">
                <button type="button" class="btn btn-primary next-toyList">다음</button>
                <button type="button" class="btn btn-primary finish-toyList" hidden>완료</button>
            </div>
        </div>
        <input type="hidden" th:id="nextShopID" th:data-shop="${clickedShopID}"/>
        <input type="hidden" th:id="nextShopUserName" th:data-shop="${clickedUserName}"/>
        <input type="hidden" th:id="myShopID" th:data-shop="${myShopID}"/>
        <div class="container-fluid container-cards-pf" id="card-container">
            <div class="row row-cards-pf" id="toy-card-list-area" style="user-select: auto;">
                <script id="toyList-card-area" type="text/x-handlebars-template">
                    {{#each this}}
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 removed-area">
                        <div class="card-pf card-pf-view card-pf-view-select card-pf-view-multi-select">
                            <div class="card-pf-body" style="user-select: auto;">
                                <div class="card-pf-top-element text-center" style="user-select: auto;">
                                    <img id="{{toy_id}}" src="" class="img-thumbnail" style="width: 100px; height: 100px;border-radius: 50%;">
                                </div>
                                <h2 class="text-center mt-2 overflow-auto" style="max-height: 38px;">{{productName}}</h2>
                                <div class="card-pf-items text-center" style="">
                                    <div class="card-pf-item" style="text-align: left;">
                                        <span class="category-text">캐릭터 : </span><span class="category-text">{{character.name}}</span>
                                        <br>
                                        <span class="category-text">장르 : </span><span class="category-text">{{genre.name}}</span>
                                    </div>
                                </div>
                                <p class="card-pf-info text-center" style="user-select: auto;">
                                    <strong style="margin-right: 0;">등록일</strong>
                                    <br>
                                    <span>{{createdDate}}</span>
                                </p>
                            </div>
                            <div class="card-pf-view-checkbox">
                                <input type="checkbox" class="clickedCheckBox">
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </script>
            </div>
        </div>
        <!-- Footer-->
        <script th:src="@{/js/trade/patternfly.js}"></script>
        <div class="liner-scroll-points-container" style="user-select: auto;"></div>
    </body>
    <div layout:fragment="script_area">
        <script th:src="@{/js/trade/trade.js}"></script>
    </div>
</html>








