html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    //background: #F6F7F4;
}

div.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes no-no {
    0% {
        transform: translateX(0);
    }
    14% {
        transform: translateX(-3px);
    }
    28% {
        transform: translateX(0);
    }
    42% {
        transform: translateX(3px);
    }
    56% {
        transform: translateX(0);
    }
    84% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(0);
    }
}
.button {
    appearance: none;
    margin: 4px 2px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 16px;
    min-width: 140px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.14s;
    outline: none;
}
.button:active {
    transform: translateY(3px);
}
.button:disabled {
    cursor: not-allowed;
}
.button:disabled:hover {
    animation: no-no 0.24s forwards;
}

.button--primary {
    box-shadow: 0 3px 0 0 #b89300;
    background: #ffd633;
    color: #383838;
}
.button--primary svg {
    fill: #383838;
}
.button--primary:hover {
    background: #ffe785;
}
.button--primary:active {
    box-shadow: 0 0 0 0 #b89300;
}
.button--primary:disabled {
    background: #ffefad;
    box-shadow: 0 3px 0 0 #ffde5c;
    color: #ffd633;
}
.button--primary:disabled svg {
    fill: #ffd633;
}

.button--secondary {
    box-shadow: 0 3px 0 0 #40454f;
    background: #70798c;
    color: #ffffff;
}
.button--secondary svg {
    fill: #ffffff;
}
.button--secondary:hover {
    background: #8e95a4;
}
.button--secondary:active {
    box-shadow: 0 0 0 0 #40454f;
}
.button--secondary:disabled {
    background: #d2d5db;
    box-shadow: 0 3px 0 0 #bbbfc9;
    color: #a4aab6;
}
.button--secondary:disabled svg {
    fill: #a4aab6;
}

.button--danger {
    box-shadow: 0 3px 0 0 #921a11;
    background: #e63b2e;
    color: #fff;
}
.button--danger svg {
    fill: #fff;
}
.button--danger:hover {
    background: #ec645b;
}
.button--danger:active {
    box-shadow: 0 0 0 0 #921a11;
}
.button--danger:disabled {
    background: #f9cbcb;
    box-shadow: 0 3px 0 0 #f0877f;
    color: #f4a9a4;
}
.button--danger:disabled svg {
    fill: #f4a9a4;
}

.button--with-icon {
    padding: 7px 8px;
    min-width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.button--with-icon svg {
    width: 24px;
}