<!DOCTYPE html>
<!-- 타임리프 레이아웃 적용 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <th:block th:replace="fragments/config :: configFragment"></th:block>
        <link rel="stylesheet" th:href="@{/css/home.css}">
        <link rel="stylesheet" th:href="@{/css/button.css}">
        <link rel="stylesheet" th:href="@{/css/jquery.flipster.css}">
        <title>Toytra Homepage</title>
    </head>

    <body>
        <!-- 사이드바-->
        <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>


        <!-- Header-->
        <div class="row">
            <header class="bg-dark py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">토이트라</h1>
                        <p class="lead fw-normal text-white-50 mb-0">장난감 교환 서비스에 오신것을 환영합니다.</p>
                    </div>
                </div>
            </header>
        </div>
        <div class="wrapper">
            <div class="shop-header">
                <h3 class="no-margin">나의 등록현황</h3><a href="" class="link arrow-link">more</a>
                <div class="shop-header-line">
                    <div class="shop-header-color"></div>
                </div>
            </div>
            <div class="full-width w-dyn-list">
                <div role="list" class="products w-dyn-items" id="scrollArea">
                    <div th:if="${toy.tradeStatus} != 2" th:each="toy : ${currentShop.getToyList()}" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" role="listitem" class="product-card-wrapper w-dyn-item">
                        <a th:id="${toy.getToy_id()}" data-bs-toggle="modal" th:attr="data-bs-target='#exampleModal'+${toy.getToy_id()}" class="product-card w-inline-block"> <!--상세정보 링크-->
                            <div class="product-card-image-wrapper"><img th:src="|data:image/png;base64, ${toy.getPhoto()[0].getImageByte()}|" sizes="100vw"></div>
                            <h6 style="max-height: 38px; font-size: 1.5rem; font-weight: 500; line-height: 1.2;" th:text="${toy.getProductName()}"class="product-card-heading text-center mt-2 overflow-auto">장난감 이름</h6>
                            <span style="color: black; max-height: 38px; font-size: 1.1rem; font-weight: 500; line-height: 1.2;" class="text-center mt-2">캐릭터 :
                                <span style="color: black; max-height: 38px; font-size: 1.1rem; font-weight: 500; line-height: 1.2;" th:text="${toy.getCharacter().getName()}"class="text-center mt-2">캐릭터 이름</span></span>
                            <span style="color: black; max-height: 38px; font-size: 1.1rem; font-weight: 500; line-height: 1.2;" class="text-center mt-2">장르 :
                                <span style="color: black; max-height: 38px; font-size: 1.1rem; font-weight: 500; line-height: 1.2;" th:text="${toy.getGenre().getName()}"class="text-center mt-2 mb-2">캐릭터 이름</span></span>
                            <div class="product-card-price">등록일</div>
                            <span style="color: black; max-height: 38px; font-size: 1.2rem; font-weight: 500; line-height: 1.2;" th:text="${toy.getcreatedD()}"class="text-center mt-2">등록 일자</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${toy.tradeStatus} != 2" th:each="toy : ${currentShop.getToyList()}">
            <div th:id="|exampleModal${toy.getToy_id()}|" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">이미지</h5>
                        </div>
                        <div class="modal-body">
                            <div class="gallery">
                                <div class="container">
                                    <section class="container">
                                        <div class="row gallery">
                                            <div th:each="photo : ${toy.getPhoto()}" class="col-lg-6 col-md-6 col-xs-6 thumb">
                                                <a th:href="|data:image/png;base64, ${photo.getImageByte()}|">
                                                    <figure><img class="img-fluid img-thumbnail" th:src="|data:image/png;base64, ${photo.getImageByte()}|" alt="Random Image"></figure>
                                                </a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <!-- Footer-->
    <div class="row">
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    </div>
</html>


<script>
</script>







