<!DOCTYPE html>
<!-- 타임리프 레이아웃 적용 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <script src="/js/roleCheck.js"></script>
        <th:block th:replace="fragments/config :: configFragment"></th:block>
        <link rel="stylesheet" th:href="@{/css/exchange.css}">
        <title>Toytra Homepage</title>
    </head>

    <body>

        <!-- 사이드바-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="./home">토이트라</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">홈</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">서비스 소개</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Section-->


        <section class="py-2">
            <div class="section hero-section wf-section">
                <div class="wrapper text-white">

                    <div style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;" class="hero-intro">
                        <div class="title">장난감 교환 서비스</div>
                        <h1>토이트라에 오신것을<br>환영합니다!</h1><a href="/catalog" class="button w-button">회원 가입</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>

    </body>
</html>








